.card{
    width: 300px;
    padding: 20px;
    margin: 50px auto;
    text-align: center;

    background-color: lightblue;
    border-radius: 10px;

    box-shadow: 0px 4px 8px gray;
}

.card h2{
    color: darkblue;
    font-size: 24px;
}

.card p{
    font-size: 18px;
    color: black;
}